.root{

li{
    display: inline-block;




a{
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 22px;
    padding: 10px;
border: 1px solid hsl(17, 99%, 56%);
border-radius: 30px;
margin-right: 10px;
cursor: pointer;
    display: inline-block;
    color: hsl(17, 99%, 56%);
    &:hover{
        background: hsl(17, 99%, 56);
            color: #fff;
        }
    }
}
:global{
    .selected{
        a{
        background: hsl(17, 99%, 56);
        color: #fff;
        }
    }
}
}

